include requirements/*.txt
include SPSNet/VERSION
include SPSNet/.mim/model-index.yml
include SPSNet/.mim/dataset-index.yml
include SPSNet/.mim/demo/*/*
recursive-include SPSNet/.mim/configs *.py *.yml
recursive-include SPSNet/.mim/tools *.sh *.py
