include requirements/*.txt
include SPGNet/VERSION
include SPGNet/.mim/model-index.yml
include SPGNet/.mim/dataset-index.yml
include SPGNet/.mim/demo/*/*
recursive-include SPGNet/.mim/configs *.py *.yml
recursive-include SPGNet/.mim/tools *.sh *.py
